@model IEnumerable<CabinBookingWebApp.Models.Cabin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container transparent">
<h1 class="home-text">Cabins</h1>

<h4>
    <a class="home-text" asp-action="Create">Create New</a>
</h4>
<table  class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.CabinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.MainImageUrl)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PersonCapability)
            </th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               <td>
                @Html.DisplayFor(modelItem => item.CabinName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
             <td>
               <p class="url_text"> @Html.DisplayFor(modelItem => item.MainImageUrl)</p>
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.PersonCapability)
            </td>
            <td>
                <a class="edit_button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="details_button" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="delete_button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

