@model CabinBookingWebApp.Models.Booking

@{
    ViewData["Title"] = "Details";
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div class="container input-forms">
    <h1 class="home-text">Details</h1>
    <h4 class="home-text">Booking</h4>
    <dl class="row">
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10  label-txt px-5">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10 label-txt px-5">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10 label-txt px-5">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10 label-txt px-5">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.Cabin)
        </dt>
        <dd class = "col-sm-10 label-txt px-5">
            @Html.DisplayFor(model => model.Cabin.Description)
        </dd>
        <dt class = "col-sm-2 home-text">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10 label-txt px-5">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
</body>
</html>
