@model CabinBookingWebApp.Models.Cabin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container input-forms">

    <div>
        <h4 class="home-text text-center"> @Html.DisplayFor(model => model.CabinName)</h4>

        <div class="text-center my-3">
            <img class="cabin-img" src="
                @Html.DisplayFor(model => model.MainImageUrl)" />
        </div>

        <div class=" text-center my-3">
            <b class=" home-text">   @Html.DisplayNameFor(model => model.Description)</b>
            @Html.DisplayFor(model => model.Description)
        </div>


        <div class="text-center my-3">
            <b class=" home-text">  @Html.DisplayNameFor(model => model.Location)</b>
            @Html.DisplayFor(model => model.Location)
        </div>


        <div class="text-center my-3">
            <b class=" home-text">   @Html.DisplayNameFor(model => model.Rooms)</b>
            @Html.DisplayFor(model => model.Rooms)
        </div>
        
        <div class="text-center my-3">
            <b class=" home-text">   @Html.DisplayNameFor(model => model.PersonCapability)</b>
            @Html.DisplayFor(model => model.PersonCapability)
        </div>


        <div class="text-center my-3">
            <b class=" home-text">    @Html.DisplayNameFor(model => model.Price)</b>
            @Html.DisplayFor(model => model.Price) €
        </div>


        <a class="w-50 btn-colors btn text-light d-block m-auto my-3" asp-action="Create" asp-route-cabinId="@Model?.Id">Book</a>



        <div class="text-center">
            <a asp-action="Index">Back to Cabins</a>

        </div>

    </div>
</div>

